{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '/task/style/style.css' %}">
{% endblock %}

{% block content %}

    <div style="text-align: center;width:50%;margin: 50px auto;background-color: rgba(213, 250, 250, 0.4);padding: 50px;width: 50%;border: 10px rgba(244, 255, 255, 0.4) solid;">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if not next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" style=" width: 50%;text-align: center;margin:auto;">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" class="nav-links">
        <input type="hidden" name="next" value="{{ next }}">
        </form>
        
        <p style="margin-top: 70px;">
            <a href="{% url 'password_reset' %}" class='nav-links'><span>Lost password?</span></a>
            <a href="{% url 'tasks:signup' %}" class='nav-links'><span>Sign Up</span></a>
        </p>
    </div>
{% endblock %}
